@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my CICD learning zone!</h1>
    <p>Please checkout my <a href="https://github.com/tarek-alabbar">GitHub page</a>.</p>
    <h2>This is the Dev env.</h2>
    <p>If you see this, it means the pipelines are working and you can go to sleep! Which is good becasue your lovely
        fiancee has already complained twice about your mechanical keyboard! </p>
</div>
